<div class="card p-3 joke-card">
  <div class="card-body">
    <h5 class="card-title">Categoria {{ language().id }}</h5>
    <p class="card-text">
      <strong>Code:</strong> @if(language().code !== "null"){
      {{ language().code }} }@else{ No tiene code }
    </p>
    <p class="card-text">
      <strong>Name:</strong> @if(language().language){
      {{ language().language }} }@else{ No tiene name }
    </p>
  </div>
  <div class="row gap-2 flex justify-content-center">
    <button
      (click)="goEdit()"
      type="button"
      class="btn btn-info d-flex align-items-center"
    >
      <fa-icon [icon]="icons.faEdit"></fa-icon>
      Editar language
    </button>
  </div>
</div>
