<button
  type="button"
  class="btn btn-dark d-flex align-items-center gap-2 mt-4"
  (click)="goCreateFlag()"
>
  <fa-icon [icon]="icon"></fa-icon>
  Crear Flags
</button>
<div
  id="placesContainer"
  class="mb-4 mt-4 row row-cols-1 row-cols-md-2 row-cols-xl-3 g-4"
>
  @if(flags.isLoading()){
  <div class="col text-center">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
  } @else { @for(flag of flags.value(); track $index){ @let number = $index + 1;
  <flags-card [number]="number" [flag]="flag" class="col"></flags-card>
  } }
</div>
